<div class="wrapper">
    <div>
        <h1 class="title">Get a quote</h1>
        <p class="desc">Fill up the form and our Team will get back<br/> to you within 24 hours</p>
    </div>
    <div class="info">
        <div class="details">
            <i class="fa fa-phone icon" aria-hidden="true"></i>
            <span>+0123 4567 8910</span> 
        </div>
        <div class="details">
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            <span>hello@flowbase.com</span> 
        </div>
        <div class="details">
            <i class="fa fa-map-marker icon" aria-hidden="true"></i>
            <span>102 Street 2714 Don</span> 
        </div>
    </div>
    <div class="socials">
        <div class="social-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="social-icon"> 
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>

</div>
